@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

body{
    font-family: 'Raleway', sans-serif;
}

/* navigation panel*/
nav {
  position: fixed;
  width: 100vw;
  height: 9vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  box-shadow: 0px 2px 6px grey;
  margin: -8px;
  padding: 4px 0 4px 0;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.merk {
  width: 22vw;
}

.logo {
  margin-left: 4vw;
  width: 4vw;
}

.name {
  width: 12vw;
}

form {
  margin: 0 0 0 4vw;
  padding: 0;
  border: none;
}

/* search field */
form.search input[type="text"] {
  padding: 8px;
  font-size: 17px;
  border: 1px solid #2196f3;
  float: left;
  width: 46.8vw;
  background: white;
  border-radius: 8px 0 0 8px;
}

/* submit button */
form.search button {
  float: left;
  width: 40px;
  padding: 8px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  border-radius: 0 8px 8px 0;
}

form.search button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

form.search {
  width: 60%;
}

.search-btn {
  width: 20px;
}

.nav-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notif {
  width: 4vw;
}

.user {
  width: 4vw;
}

nav div p {
  margin: 0 5vw 0 1vw;
  font-size: 2.5vh;
}

/* --------------------- chevron left + service title ------------------ */

header .header{
    display: flex;
    margin-top: 75px;
}
header div a{ 
    color : black;
    margin-top: 19px;
}
.header{
    margin-left: 8%;
    width: 83%;
}
header div h2{
    margin-left: 1%;
}

/* -------------------- box content --------------------- */

/* box 1 */
.main{
    margin-top: 10px;
    justify-content: center;

}
.main .box-1{
    border: 1px solid #4798CE;
    background: #EBF1FB;
    width: 565px;
    margin: auto;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05)
}
.main .box-1 p{
    text-align: justify;
}
/* box 2 */
.main .box-2{
    border: 1px solid #4798CE;
    width: 585px;
    margin: auto;
    margin-top: 15px;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05)
}
.main .box-2 .baris{
    display: flex;
    justify-content: space-evenly;
}
.durasi{
    border: 1px solid #3BA2DA;
    box-sizing: border-box;
    border-radius: 10px;
    width: 140px;
    margin-bottom: 15px;
    text-align: center;
    padding: 5px;
    font-size: 16px;
}
.main .box-2 h3{
    margin-left: 33px;
}

/* box-3 */
.main .box-3{
    border: 1px solid #4798CE;
    width: 585px;
    margin: auto;
    margin-top: 15px;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05)
}
.main .box-3 h3{
    margin-left: 33px;
}

.time{
  margin-left: 33px;
}

.forms{
    margin-left: px;
    font-size: 16px;
    margin-bottom: 19px;
}
label{
    font-size: 1.125rem;
}
input{
    border: 1px solid #3BA2DA;
    border-radius: 6px;
    padding: 3px;
}
#form1{
    margin-left: 34px;
}
#form2{
    margin-left: 54px;
}

/* box-4 */
.main .box-4{
    border: 1px solid #4798CE;
    width: 585px;
    margin: auto;
    margin-top: 15px;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05)
}
.main .box-4 h3{
    margin-left: 33px;
}
#form3{
    width: 87%;
    margin-bottom: 19px;
    margin-left: 33px;
    padding: 6px;
}

/* Button Pesan */
.btn{
    display: flex;
    width: 562px;
    margin: auto;
    justify-content: flex-end;
    margin-top: 15px;
    margin-right: 453px ;
}
.pesan{
    color: #FFFFFF;
    width: 120px;
    padding: 10px;
    border-radius: 14px;
    margin-bottom: 70px;
    font-size: 18px;
    background: transparent;
    background-color: #3BA2DA;
}

.duration input{
  display: none;
  cursor: pointer;
}

.duration label:hover{
  transform: scale(1.1);
}

.duration label:active{
  background-color: #3BA2DA;
  color: white;
}

/* Responsive Web */
@media screen and (max-width: 768px) {
  nav {
    height: 60px;
  }
  .name {
    display: none;
  }
  .logo {
    width: 60px;
    margin-left: 1vw;
  }
  .merk {
    width: 8vw;
    margin: 0;
  }
  nav div p {
    display: none;
  }
  .notif {
    width: 40px;
  }
  .user {
    width: 40px;
    margin-right: 4vw;
  }
  .usr-img {
    height: 7vw;
    margin-top: 15px;
  }
  .btn{
    margin-right: 80px ;
  }
}

@media screen and (max-width: 426px) {
  nav {
    height: 60px;
  }
  form.search input[type="text"] {
    width: 36vw;
    margin-left: 24px;
  }
  .main{
    margin-top: 10px;
    justify-content: center;
  }
  .main .box-1{
    width: 285px;
  }
  .main .box-2{
    width: 300px;
  }
  .durasi{
    border: 1px solid #3BA2DA;
    box-sizing: border-box;
    border-radius: 10px;
    width: 80px;
    margin-bottom: 15px;
    text-align: center;
    padding: 5px;
    font-size: 13px;
  }
  .main .box-3{
    width: 300px;
  }
  .main .box-4{
    width: 300px;
  }
  .main .box-4 h3{
    margin-left: 33px;
  }
  #form3{
    width: 78%;
    margin-bottom: 19px;
    margin-left: 33px;
    padding: 6px;
  }
  .btn{
    display: flex;
    width: 300px;
    margin: auto;
    justify-content: flex-end;
    margin-top: 15px;
    margin-right: 50px ;
  }
}
