/* NavBar */

nav {
    position: fixed;
    width: 100vw;
    height: 9vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    box-shadow: 0px 2px 6px grey;
    margin: -8px;
    padding: 4px 0 4px 0;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
  }
  
  .merk {
    width: 22vw;
  }
  
  .logo {
    margin-left: 4vw;
    width: 4vw;
  }
  
  .name {
    width: 12vw;
  }
  
  form {
    margin: 0 0 0 4vw;
    padding: 0;
    border: none;
  }
  
  /* search field */
  form.search input[type="text"] {
    padding: 8px;
    font-size: 17px;
    border: 1px solid #2196f3;
    float: left;
    width: 46.8vw;
    background: white;
    border-radius: 8px 0 0 8px;
  }
  
  /* submit button */
  form.search button {
    float: left;
    width: 40px;
    padding: 8px;
    background: #2196f3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-radius: 0 8px 8px 0;
  }
  
  form.search button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  
  form.search {
    width: 60%;
  }
  
  .search-btn {
    width: 20px;
  }
  
  .nav-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .notif {
    width: 4vw;
  }
  
  .user {
    width: 4vw;
  }
  
  nav div p {
    margin: 0 5vw 0 1vw;
    font-size: 2.5vh;
  }

.merk {
  width: 22vw;
}

.logo {
  margin-left: 4vw;
  width: 4vw;
}

.name {
  width: 12vw;
}

form {
  margin: 0 0 0 4vw;
  padding: 0;
  border: none;
}

/* search field */
form.search input[type="text"] {
  padding: 8px;
  font-size: 17px;
  border: 1px solid #2196f3;
  float: left;
  width: 46.8vw;
  background: white;
  border-radius: 8px 0 0 8px;
}

/* submit button */
form.search button {
  float: left;
  width: 40px;
  padding: 8px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  border-radius: 0 8px 8px 0;
}

form.search button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

form.search {
  width: 60%;
}

.search-btn {
  width: 20px;
}

.nav-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notif {
  width: 4vw;
}

.user {
  width: 4vw;
}

nav div p {
  margin: 0 5vw 0 1vw;
  font-size: 2.5vh;
}


.nav-icon {
    display: flex;
    align-items: center;
}

.tipe-jasa {
    display: flex;
    text-align: center;
}

form {
    margin: 0;
    padding: 0;
    border: none;
    /* background-color: red; */
}

.search-btn {
    width: 20px;
}

* {
    box-sizing: border-box;
}


/* search field */




/* submit button */



/* clear floats ??? */

form.example::after {
    content: "";
    clear: both;
    display: table;
}

form.search {
    width: 60%;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

form.search {
    width: 60%;
}

.customers-review {
    justify-content: center;
}

.customers-review-1 {
    display: flex;
}

.services-img {
    border-radius: 10px 10px 10px 10px;
}

/* MAIN */
body{
    font-family: 'Raleway', sans-serif;
}

.ceklis {
    margin-top:4em; 
    align-items: center; 
    justify-content: center; 
    display: flex
}

.ditempatkan {
    margin-top:-1.4em; 
    align-items: center; 
    justify-content: center;
    display: flex
}

.kotak-pesanan {
    align-items: center; 
    justify-content: center; 
    display: flex;
}

.bentuk-kotak {
    height:150px;
    width:400px; 
    border: 1.8px solid #72c0eb; 
    border-radius: 0.5em; 
    padding: 0.8em;
    display: flex;
}

.gambar-jasa {
    height: 120px;
    width: 150px;
    margin-top: 3px;
    overflow: hidden;
    position: relative;
    border-radius: 0.5em;
}

.gambar-jasa img {
    max-height: 120px;
    position: absolute;
    left: -30px;
}

.review-pesanan {
    text-align: justify;
    margin-left: 9px;
}

.mengabari {
    align-items: center; 
    justify-content: center; 
    display: flex;
}

.diterima {
    margin-top:-2.3em;
    align-items: center; 
    justify-content: center; 
    display: flex;
}

/*Responsive Web*/
@media screen and (max-width: 768px) {
    nav {
      height: 60px;
    }
    .name {
      display: none;
    }
    .logo {
      width: 60px;
      margin-left: 1vw;
    }
    form.search input[type="text"] {
        width: 40vw;
        margin-left: 50px;
    }
    .merk {
      width: 8vw;
      margin: 0;
    }
    nav div p {
      display: none;
    }
    .notif {
      width: 40px;
    }
    .user {
      width: 40px;
      margin-right: 4vw;
    }
    .usr-img {
      height: 7vw;
      margin-top: 15px;
    }
}

@media screen and (max-width: 426px) {
    nav {
      height: 60px;
    }
    form.search input[type="text"] {
      width: 32vw;
      margin-left: 47px;
    }
}