nav {
    background-color: rgb(255, 255, 255);
    display: flex;
    /* border-bottom: 3px solid grey; */
    /* -webkit-box-shadow:0px 0px 4px 0px grey; */
    /* -moz-box-shadow:0px 0px 4px 0px grey; */
    box-shadow: 0px 2px 6px grey;
    margin: -8px;
    padding: 4px 0 4px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-icon {
    display: flex;
    align-items: center;
}

.tipe-jasa {
    display: flex;
    text-align: center;
}

form {
    margin: 0;
    padding: 0;
    border: none;
    /* background-color: red; */
}

.search-btn {
    width: 20px;
}

* {
    box-sizing: border-box;
}


/* search field */

form.search input[type=text] {
    padding: 8px;
    font-size: 17px;
    border: 1px solid #2196F3;
    float: left;
    width: 85%;
    background: white;
    border-radius: 8px 0 0 8px;
}


/* submit button */

form.search button {
    float: left;
    width: 5%;
    padding: 8px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-radius: 0 8px 8px 0;
}

form.search button:hover {
    background: #0b7dda;
}


/* clear floats ??? */

form.example::after {
    content: "";
    clear: both;
    display: table;
}

form.search {
    width: 60%;
}

.services-preview {
    display: grid;
    grid-template-columns: 316px 316px 316px;
    grid-template-rows: 435px 435px;
    grid-gap: 30px 25px;
    justify-content: center;
}

.services-each {
    /* background-color: red; */
    box-shadow: 2px 2px 5px rgb(201, 195, 195);
    border-radius: 8px;
}

.services-img {
    border-radius: 10px 10px 0 0;
}

.card-circle h3 {
    margin-left: 14px;
}

.card-circle:hover {
    cursor: grab;
    transform: scale(1.02);
    height: 220px;
}

.card-circle button {
    width: 90%;
    border: none;
    background-color: #3BA2DA;
    color: white;
    padding: 15px 10px;
    display: inline-block;
    border-radius: 8px;
    margin: 20px 18px 0 18px;
}

.card-circle hr {
    height: 1px;
    border-width: 0;
    color: #3BA2DA;
    background-color: #3BA2DA;
    width: 90%;
    margin-top: 58px;
    margin-bottom: -6px;
}

.flip-box {
    background-color: transparent;
    width: 316px;
    height: 216px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-front {
    background-color: #bbb;
    color: black;
}

.flip-box-back {
    background-color: #3BA2DA;
    color: white;
    transform: rotateY(180deg);
    border-radius: 10px 10px 0 0;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap");

/* variables CSS */

:root {
    --body-font: "Raleway", sans-serif;
    --text-color: #000;
    --button-color: #39a2db;
    --font-medium: 400;
    --font-semi-bold: 500;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
}


/* NAVIGASI */

nav {
    position: fixed;
    width: 100vw;
    height: 10vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    box-shadow: 0px 2px 6px grey;
    margin: -8px;
    padding: 4px 0 4px 0;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.merk {
    width: 22vw;
}

.logo {
    margin-left: 4vw;
    width: 4vw;
}

.name {
    width: 12vw;
}

form {
    margin: 0 0 0 4vw;
    padding: 0;
    border: none;
}


/* search field */

form.search input[type="text"] {
    padding: 8px;
    font-size: 17px;
    border: 1px solid #2196f3;
    float: left;
    width: 48vw;
    background: white;
    border-radius: 8px 0 0 8px;
}


/* submit button */

form.search button {
    float: left;
    width: 40px;
    padding: 8px;
    background: #2196f3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-radius: 0 8px 8px 0;
}

form.search button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

form.search {
    width: 60%;
}

.search-btn {
    width: 20px;
}

.nav-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notif {
    width: 4vw;
}

.user {
    width: 4vw;
}

nav div p {
    margin: 0 5vw 0 1vw;
    font-size: 2.5vh;
}


/* Return button */

.return {
    display: inline-flex;
    align-items: center;
    margin: 10vh 0 0 10vw;
}

div.return a {
    text-decoration: inherit;
    color: inherit;
}

div.return a img {
    height: 20px;
    margin-right: 6px;
}


/* SERVICE CARDS */

.services-preview {
    display: grid;
    align-self: center;
    grid-template-columns: 316px 316px 316px;
    grid-template-rows: 435px 435px;
    grid-gap: 30px 25px;
    justify-content: center;
}

.services-each {
    /* background-color: red; */
    box-shadow: 2px 2px 5px rgb(201, 195, 195);
    border-radius: 8px;
}

.services-img {
    border-radius: 10px 10px 0 0;
    width: 316px;
    height: 216px;
}

.card-circle h3 {
    margin-left: 14px;
}

.card-circle:hover {
    cursor: grab;
    transform: scale(1.02);
    height: 220px;
}

.card-circle button {
    width: 90%;
    border: none;
    background-color: #3ba2da;
    color: white;
    padding: 15px 10px;
    display: inline-block;
    border-radius: 8px;
    margin: 20px 18px 0 18px;
}

.card-circle hr {
    height: 1px;
    border-width: 0;
    color: #3ba2da;
    background-color: #3ba2da;
    width: 90%;
    margin-top: 60px;
    margin-bottom: -6px;
}

.flip-box {
    background-color: transparent;
    width: 316px;
    height: 216px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-front {
    background-color: #bbb;
    color: black;
}

.flip-box-back {
    background-color: #3ba2da;
    color: white;
    transform: rotateY(180deg);
    border-radius: 10px 10px 0 0;
}

div.flip-box-back h2 {
    color: white;
    line-height: 12px;
    margin-bottom: 6px;
}

div.flip-box-back p {
    margin-left: 15px;
    margin-right: 15px;
}

.annoying {
    margin-top: 25px;
}

@media screen and (max-width: 1140px) {
    .services-preview {
        grid-template-columns: 316px 316px;
        grid-template-rows: 435px 435px 435px;
    }
}

@media screen and (max-width: 768px) {
    nav {
        height: 60px;
    }
    .name {
        display: none;
    }
    .logo {
        width: 60px;
        margin-left: 1vw;
    }
    .merk {
        width: 8vw;
        margin: 0;
    }
    nav div p {
        display: none;
    }
    .notif {
        width: 40px;
    }
    .user {
        width: 40px;
        margin-right: 4vw;
    }
}

@media screen and (max-width: 760px) {
    .services-preview {
        grid-template-columns: 316px;
        grid-template-rows: 435px 435px 435px 435px 435px;
    }
}

@media screen and (max-width: 426px) {
    .logo {
        margin-left: 1vw;
    }
    .user {
        margin-right: 1vw;
    }
    form.search input[type="text"] {
        width: 40vw;
        margin-left: 7vw;
    }
}